@charset "utf-8";
a.active span.ui-btn-inner{
    background: greenyellow;
}
a.expired span.ui-btn-inner{
    background: pink;
}
input.promo-date {
    width: 90% !important;
}
.ui-datebox-container  .ui-btn-icon-notext{
    top: 0.3em !important;
}
.ui-datebox-container .ui-header .ui-title {
    min-height:1.1em;
    text-align:center;
    font-size:16px;
    display:block;
    margin:0 30% .8em !important;
    padding-top:0.3em !important;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    outline:0!important
}
.ui-listview_custom__item-left{
    width: 100% !important;    
    margin-top: 4px;
}
.ui-listview_custom__item-left .ui-listview{
    margin: 0 !important;
}
.ui-listview_custom__item-left .ui-listview .no-padding{
    height: 92px;
}
.ui-listview_custom__item-left .ui-btn-inner.ui-btn-corner-all{
    padding-top: 5em !important;
}
.ui-listview_custom__item-left.desktop .ui-btn-inner.ui-btn-corner-all .ui-icon.ui-icon-shadow{
    left: 35% !important;
}
.ui-listview_custom__item-left .ui-btn-inner.ui-btn-corner-all .ui-icon.ui-icon-shadow{
    left: 40% !important;
}